
body {
  background-color: #222831;
  color: #FFFFF1;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-size: calc(8px + 2vmin);
  
}

.mainContainer > * {
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;
}
#weatherSection {
  height: 15vh;
}
#calendarSection {
  height: 40vh;
}
#pictureSection {
  display: flex;
  height: 45vh;
  justify-content: center;
}